services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  cdr-producer:
    build: ./cdr-producer
    ports:
      - "3001:3000"
    depends_on:
      - rabbitmq

  cdr-consumer:
    build: ./cdr-consumer
    ports:
      - "3002:3000"
    depends_on:
      - rabbitmq
      - mongo

volumes:
  mongo_data:
